<h1 style="text-align: right">مشاهده سرویس های پرداخت</h1>

<mat-form-field>
  <label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </label>
</mat-form-field>

<div class="mat-elevation-z8 pic">
  <table mat-table [dataSource]="dataSource">

    <!-- Form Key Column -->
    <ng-container matColumnDef="Form_key">
      <th mat-header-cell *matHeaderCellDef> Form Key</th>
      <td mat-cell *matCellDef="let element"> {{element.Form_key}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!--  Service Provider Column -->
    <ng-container matColumnDef="Service_Provider">
      <th mat-header-cell *matHeaderCellDef> Service Provider </th>
      <td mat-cell *matCellDef="let element"> {{element.Service_Provider}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
